body {
    background-color: #141414;
}

.search-bar {
    color: #f8f8f8;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.title {
    font-size: 35px;
    margin-bottom: 25px;
}

input:focus {
    outline: none;
    border-style: solid;
    border-color: #71BC78;
    border-width: 3px;
}

input {
    background-color: #232323;
    color: #f8f8f8;
    outline: none;
    border-color: #232323;
    border-width: 3px;
    border-style: solid;
    font-size: 20px;
    width: 35%;
    height: 45px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    margin-left: 20px;
    margin-top: 20px;
    display: block;
    padding-left: 10px;
    min-width: 150px;
    display: flex;
}

button {
    outline: none;
    border-style: solid;
    border-color: #71BC78;
    background-color: #71BC78;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    width: 100px;
    height: 45px;
    margin-top: 20px;
    font-size: 20px;
}

.card {
    background-color: #232323;
    color: #f8f8f8;
    margin-top: 20px;
    margin-left: 70px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 30%;
}

.icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 22.5px;
}